<h4>The create board form</h4>
<a href="#/boards">All Boards</a>
<form class="board-form">
  <label for="board-title">
    Title
    <input type="text" name="board[title]" >
  </label>
  <input type="submit" value="Create Board!">
</form>
