<h3>Look at all your beautiful boards!</h3>
<a href="#/boards/new">New Board</a>
<ul>
  <% boards.forEach(function(board) { %>
    <li>
      <%= board.get("title") %> created at <%= board.get("created_at") %>
    </li>
  <% }) %>
</ul>
