/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.list {
  background: gray;
  border: 2px solid black;
  width: 200px;
  float: left;
}

.card-link {
  display: block;
  background: red;
}
.card-link:hover {
  background: yellow;
}

.board-title-box {
  background: red;
  width: 200px;
  padding: 20px;
  border: 2px solid black;
  display:block;
  float: left;
}
